<p id="notice"><%= notice %></p>

<p>
  <b>Casette:</b>
  <%= @tune_in_original.casette_id %>
</p>


<%= link_to 'Edit', edit_tune_in_original_path(@tune_in_original) %> |
<%= link_to 'Back', tune_in_originals_path %>
