<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @private_location.owner %>
</p>


<%= link_to 'Edit', edit_private_location_path(@private_location) %> |
<%= link_to 'Back', private_locations_path %>
