<p id="notice"><%= notice %></p>

<p>
  <b>Compilation:</b>
  <%= @tune_in_compilation.compilation_id %>
</p>


<%= link_to 'Edit', edit_tune_in_compilation_path(@tune_in_compilation) %> |
<%= link_to 'Back', tune_in_compilations_path %>
